.destination-table-details {
    p, h2 {
        margin: 0;
    }
    
    &__subheader {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #20222e;
        margin-top: 30px;
    }
    
    &__icon {
        &--tbane {
         background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" class="icon rds-icon" xmlns="http://www.w3.org/2000/svg" style="height: 1.5em; width: auto; fill: rgb(255, 255, 255);"><g><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM7.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5H11v7.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V10h3.5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-9Z" fill-rule="evenodd"></path></g></svg>');
         height: 42px;
         width: 42px;
         display: block;
         margin-right: 9px;
         margin-bottom: 3px;
        }
 
        &--buss{
         background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" class="icon rds-icon" xmlns="http://www.w3.org/2000/svg" style="height: 1.5em; width: auto; fill: rgb(255, 255, 255);"><g><path d="M23 8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8.5a.5.5 0 0 0 .5.5h1c.276 0 .496-.226.541-.498a3 3 0 0 1 5.918 0c.045.273.265.498.541.498h5c.276 0 .496-.226.541-.498a3 3 0 0 1 5.918 0c.045.273.265.498.541.498h1a.5.5 0 0 0 .5-.5V8ZM9 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-2Zm-1 0a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-2Zm8 0a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-2Z" fill-rule="evenodd"></path><path d="M18 19a2 2 0 1 0 0-4 2 2 0 0 0 0 4ZM8 17a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"></path></g></svg>');
         height: 45px;
         width: 45px;
         display: block;
         margin-right: 9px;
        }
 
        &--trikk{
         background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" class="icon rds-icon" xmlns="http://www.w3.org/2000/svg" style="height: 1.5em; width: auto; fill: rgb(255, 255, 255);"><g><path d="M12.411 5.416 10.827 7h-7.96a1 1 0 0 0-.99.858l-.806 5.647a1 1 0 0 0 .283.848l1.353 1.354a1 1 0 0 0 .707.293H4.75a.25.25 0 0 1 .25.25v.25a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v.25a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-.25a.25.25 0 0 1 .25-.25h1.336a1 1 0 0 0 .707-.293l1.353-1.354a1 1 0 0 0 .283-.848l-.806-5.647a1 1 0 0 0-.99-.858h-8.891l1.23-1.231a.5.5 0 0 0 0-.707l-1.89-1.89a.25.25 0 0 0-.354 0l-.354.353a.25.25 0 0 0 0 .354l1.537 1.537ZM15 9H9v3h6V9Zm1 0h3.5a.5.5 0 0 1 .5.5V12h-4V9ZM8 9H4.5a.5.5 0 0 0-.5.5V12h4V9Z" fill-rule="evenodd"></path><path d="M1 17.25a.25.25 0 0 1 .25-.25h21.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25H1.25a.25.25 0 0 1-.25-.25v-.5Z"></path></g></svg>');
         height: 45px;
         width: 45px;
         display: block;
         margin-right: 9px;
        }
     }
 
     &__item {
         margin-bottom: 50px;
     }

     &__direction {
        &--title {
            margin-top: 15px !important;
            margin-bottom: 0px !important;
            font-size: 22px;
            font-weight: 200;
            color: #484c64;

            &_from {
                @extend .destination-table-details__direction--title;
                margin-top: 30px !important;
            }
        }
     }

     @media only screen and (max-width: 550px) {
        &__direction {
            &--title {
                font-size: 18px;
            }
         } 
    }
 

}