* {
    margin: 0;
}

p, h2 {
    margin: 0;
    color: #e5e8ff;
    font-family: TIDUI-Regular,Arial,Helvetica,sans-serif;
}

/*
WEBSITE
 - background--dark: #0e0f16
 - background--light #20222E
 - font-color--light: #FFFFF
 - font-color--dark: #797FA3;

TABLE
 - border: ???

INPUT EVENTS
 - background: #111218;
 - border: #363949;
*/
