<div class="destination-table-info" *ngIf="isActive">
    <div class="destination-table-info__subheader">
        <i [class]="'destination-table-info__icon--' + type"></i>
        <h2>{{title}}</h2>
    </div>
    <div [class]="'destination-table-info__' + type">
        <div *ngFor="let destination of destinations.destinations">
            <div class="destination-table-info__board--item" *ngIf="vehicleType(destination.type)">
                <div class="destination-table-info__board--title">
                    <h2 class="destination-table-info__board--destination-title">
                        <span [class]="'destination-table-info__board--pill-' + destination.type"> 
                            {{destination.routeNumberDisplay}}
                        </span> 
                        <span [class]="'destination-table-info__board--destination-name'">{{destination.destinationName}}</span>
                    </h2>
                </div>
                
                <div class="destination-table-info__board--time">
                    <div class="destination-table-info__board--time--item" *ngFor="let route of destination.routeList | slice:0:3">
                        {{route.realTime}}
                        <span *ngIf="route.departureStatus == 'cancelled'" > - </span>
                    </div>
                    <div class="destination-table-info__board--time--item" *ngFor="let n of appendEmptyTimes(3 - destination.routeList.length)">
                        -
                    </div>
                </div>

                <div *ngIf="destination?.routeList" class="destination-table-info__board--status">
                    <span [class]="'destination-table-info__board--status-' + destination.routeList[0].departureStatus"></span>
                </div>
            </div>
        </div>
    </div>
</div> 
